* {
  margin: 0;
  font-family: Arial;
}

body {
  background-color: #fafbfc;
}

.box {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
  width: 20%;
  border: 1px solid #ddd;
}

.box2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 15px;
  border-radius: 4px;
  width: 20%;
  border: 1px solid #ddd;
  display: grid;
}

legend {
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  background-color: #fff;
  padding: 5px;
}

.inp {
  position: relative;
}

.input {
  background: none;
  border: none;
  border-bottom: 1px solid #ddd;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
}

.text {
  position: absolute;
  top: 0px;
  left: 1px;
  pointer-events: none;
  color: #aaa;
}

table th {
  border-bottom: 1px solid grey;
}
